{%
    set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'clearfix',
]
%}

{{ attach_library('datacamp_light/datacamp') }}
<div data-datacamp-exercise data-show-run-button data-lang="{{ node.field_datacamp_language.value }}" data-height="auto">
    <code data-type="pre-exercise-code">{{ node.field_datacamp_pre_exercise_code.value }}</code>
    <code data-type="sample-code">{{ node.field_datacamp_sample_code.value }}</code>
    <code data-type="solution">{{ node.field_datacamp_solution.value }}</code>
    {%  if node.field_datacamp_submission_correc.value is not empty %}
        <code data-type="sct">{{ node.field_datacamp_submission_correc.value }}</code>
    {% endif %}
    <div data-type="hint">{{ node.field_datacamp_hint.value }}</div>
</div>
